<!doctype html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Liga Leds</title>
    </head>

    <body>

    <div class="container">
        <h1>CONTROLE DE LEDS</h1>
        <a style="width: 100%" class="btn btn-success" href="{% url 'led_on' %}">LIGAR</a>
        <a style="width: 100%" class="btn btn-danger" href="{% url 'led_off' %}">DESLIGAR</a>

        <h3>
            Estado:
            {% if state %}
            {% if state == "ON"%}
                 Ligado
            {% else %}
                Desligado
            {% endif %}
        {% endif %}
        </h3>
    </div>



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

</html>